*{
	margin: 0;
	padding: 0;
}
body{
	overflow-x: hidden !important;
}

:root{
	/*font size*/
	--s12: 12px;
	--s14: 14px;
	--s16: 16px;
	--s18: 18px;
	--s22: 22px;
	--s24: 24px;
	--s25: 25px;
	--s30: 30px;
	--s36: 36px;
	--s40: 40px;
	--s50: 50px;
	--s70: 70px;
	--s100: 100px;
	--s150: 150px;
	--s300: 300px;

	/*line height*/
	--n: 30px; /*normal for p*/
}

::selection { background: gold; color: #111; }
::-moz-selection { background: gold; color: #111; }

.header{
	height: 100%;
	width: 100%;
	background: #222;
	align-items: center;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	padding-bottom: 100px;
}

.menup{
	position: fixed;
	top: 0;
	right: 0;
	transform: translateX(100%);
	height: 100vh;
	width: 400px;
	background: #111;
	justify-content: center;
	align-items: center;
	display: flex;
	z-index: 999999;
}
.clm{
	position: fixed;
	top: 40px;
	color: gold;
	font-weight: 1000;
	cursor: pointer;
	right: 40px;
	font-family: sans-serif;
	font-size: 20px;
}
.menup ul li{
	list-style: none;
	margin-bottom: 20px;
	display: flex;
	position: relative;
}
.menup ul li span{
	position: relative;
}
.menup ul li a{
	text-decoration: none;
	font-weight: 1000;
	font-size: 18px;
	font-family: sans-serif;
	color: #fff;
}
.menup ul li a:after{
	content: '';
	display: flex;
	position: absolute;
	width: 100%;
	bottom: -5px;
	left: 0;
	height: 3px;
	background: #fff;
}
.menup ul{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}
.menu{
	width: 100%;
	display: flex;
	padding: 20px 0px;
	height: auto;
	justify-content: center;
}
.menu-cont{
	width: 1040px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo div{
	color: #fff;
	font-weight: 1000;
	font-size: var(--s30);
	font-family: sans-serif;
}
.logo div:nth-child(2){
	transform: translateY(-15px) translateX(-2px);
	color: gold;
}
.nav ul{
	display: flex;
}
.nav ul li{
	list-style: none;
	margin-left: 40px;
}
.nav ul li a{
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	position: relative;
	transition: .1s;
	font-size: var(--s16);
	font-family: sans-serif;
}
.menuphone{
	color: gold;
	display: none;
	font-weight: 1000;
	text-decoration: none;
	position: relative;
	cursor: pointer;
	transition: .1s;
	font-size: 40px;
	font-family: sans-serif;
}

.nav ul li a:hover{
	color: gold;
	transition: .1s;
}
.nav ul li a:after{
	content: '';
	display: flex;
	height: 3px;
	transition: .1s;
	width: 100%;
	background: gold;
	transform: translateY(10px);
	position: absolute;
	bottom: 0;
	opacity: 0;
	z-index: 1;
	left: 0;
}
.nav ul li a:hover:after{
	opacity: 1;
}
.mephoto{
	position: absolute;
	border-radius: 50%;
	top: 50px;
	left: 40px;
}
.container{
	position: relative;
	width: 1040px;
	height: 100%;
	display: flex;
	align-items: flex-start;
}
.container2{
	position: relative;
	width: 1040px;
	height: 100%;
	display: flex;
	align-items: flex-start;
}
.mephoto:before{
	content: '';
	display: flex;
	width: 150px;
	height: 150px;
	background: gold;
	z-index: 0;
	border-radius: 50%;
	position: absolute;
	top: -40px;
	left: -150px;
}
.header img{
	height: 400px;
	z-index: 5;
	border-radius: 50%;
}
.contd{
	width: 50%;
	padding-top: 70px;
}
.descr{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.descr label{
	font-size: var(--s30);
	color: #fff;
	font-family: sans-serif;
	font-weight: 700;
}
.descr p{
	font-size: var(--s18);
	color: rgba(255,255,255,.8);
	font-family: sans-serif;
	font-weight: 500;
	line-height: var(--n);
	margin-top: 20px;
}
.btms{
	margin-top: 40px;
	display: flex;
}
.btmain{
	background: #fff;
	padding: 12px 40px;
	cursor: pointer;
	color: rgba(0,0,0,.9);
	font-weight: 700;
	font-size: var(--s14);
	border-radius: 10px;
	font-family: sans-serif;
}
.btmain:nth-child(1){
	margin-right: 20px;
	background: gold;
}
.btmain:hover{
	background: #111;
}
.btmain:hover a{
	color: #fff !important;
}
.name{
	display: flex;
	flex-direction: column;
}
.name div{
	color: gold;
	font-size: var(--s70);
	font-family: sans-serif;
	font-weight: 1000;
	line-height: var(--s70);
}
.name div:nth-child(2){
	transform: translateY(-10px) translateX(-5px);
}
.title{
	font-size: var(--s30);
	color: #fff;
	font-family: sans-serif;
	font-weight: 700;
	margin-bottom: 40px;
}
.headbot{
	display: flex;
	flex-direction: column;
	margin-top: 70px;
}
.slider{
	display: grid;
	grid-column-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
}
.slider:after{
	content: '';
	display: flex;
	width: 220px;
	height: 220px;
	background: gold;
	z-index: 0;
	border-radius: 50%;
	position: absolute;
	top: 40px;
	transform: translateX(60%);
	right: 0px;
}
.slider:before{
	content: '';
	display: flex;
	width: 100px;
	height: 100px;
	background: gold;
	z-index: 0;
	border-radius: 50%;
	position: absolute;
	top: 300px;
	transform: translateX(170%);
	right: 0px;
}
.blocks{
	background: #444;
	border-radius: 20px;
	position: relative;
	padding: 60px 40px 40px 40px;
}
.blocks h1{
	font-size: var(--s25);
	color: #fff;
	margin-bottom: 20px;
	font-weight: 700;
	font-family: sans-serif;
}
.blocks p{
	font-family: sans-serif;
	font-size: var(--s16);
	color: rgba(255,255,255,.8);
	line-height: var(--n);
}
.blocks label{
	position: absolute;
	font-size: var(--s70);
	top: 0;
	left: 30px;
	line-height: 0;
	font-family: sans-serif;
	font-weight: 1000;
	color: gold;
	transform: translateY(10px);
}


.body{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #444;
	padding: 100px 0;
}
.music .mp h1{
	font-size: var(--s36);
	font-weight: 1000;
	font-family: sans-serif;
	line-height: var(--s36);
	color: #fff;
}
.music .mp p{
	font-size: var(--s18);
	width: 70%;
	font-weight: 500;
	font-family: sans-serif;
	line-height: var(--n);
	margin-top: 40px;
	position: relative;
	color: #fff;
}
.music .mp p span{
	position: relative;
	cursor: pointer;
	transition: .1s;
}
.music .mp p a:hover{
	color: gold;
	transition: .1s;
}
.music .mp p a:hover:after{
	background: gold;
	transition: .1s;
	pointer-events: none !important;
}
.music .mp p a{
	text-decoration: none !important;
	color: #fff;
	transition: .1s;
}
.music .mp p a:after{
	content: '';
	display: flex;
	height: 3px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	background: #fff;
	text-decoration: none !important;
	transform: translateY(7px);
	width: 100%;
}
.music .mp h1 span{
	color: gold;
}
.videob{
	width: 100%;
	border-radius: 20px;
	display: grid;
	flex-direction: column;
	position: relative;
}
.videob iframe{
	border-radius: 20px;
	width: 100%;
	z-index: 5;
	height: 600px;
	margin-top: 100px;
}
.videob iframe:nth-child(2){
	margin-top: 40px !important;
	display: none;
}
.videob iframe:nth-child(3){
	margin-top: 40px !important;
	display: none;
}
.videob:before{
	content: '';
	display: flex;
	width: 180px;
	height: 180px;
	background: gold;
	z-index: 1;
	border-radius: 50%;
	position: absolute;
	bottom: -20px;
	left: -200px;
}
.videob:after{
	content: '';
	display: flex;
	width: 70px;
	height: 70px;
	background: gold;
	z-index: 1;
	border-radius: 50%;
	position: absolute;
	bottom: 190px;
	left: -50px;
}

.awardlistm{
	margin-top: 100px;
	position: relative;
}
.awardlistm:after{
	content: '';
	display: flex;
	width: 120px;
	height: 120px;
	background: gold;
	z-index: 1;
	border-radius: 50%;
	position: absolute;
	bottom: 0px;
	right: 100px;
}
.awardlistm ul{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	flex-direction: column;
}
.awardlistm ul li{
	list-style: none;
	margin-bottom: 40px;
	line-height: var(--n);
	color: #fff;
	font-family: sans-serif;
	position: relative;
	font-size: var(--s16);
	font-weight: 500;
	align-items: center;
	display: flex;
	padding: 40px;
	background: #222;
  	grid-column-end: span 2;
	border-radius: 20px;
}
.awardlistm ul li:nth-last-child(-n+2) {
  grid-column-start: 2;
}
.awardlistm ul li:nth-last-child(-n+1) {
  grid-column-start: 4;
}
.awardlistm ul li label{
	font-size: var(--s50);
	color: gold;
	font-family: sans-serif;
	font-weight: 1000;
	position: absolute;
	top: 0;
	transform: translate(-10px, -10px);
}
.awardlistm h1{
	margin-bottom: 40px;
	text-align: center;
	color: #fff;
	font-weight: 1000;
	font-family: sans-serif;
	font-size: var(--s36);
}
.awardlistm h1 span{
	color: gold;
}

.q{
	border-radius: 20px;
	padding: 40px;
	background: gold;
	display: flex;
	position: relative;
	flex-direction: row;
	margin-top: 80px;
	justify-content: flex-end;
}
.qq{
	display: flex;
	flex-direction: column;
	width: 75%;
}
.qq p{
	font-size: var(--s22);
	font-weight: 1000;
	margin-top: 20px;
	font-family: sans-serif;
	color: #111;
}
.qq h1{
	font-family: fantasy;
	font-weight: 1000;
	font-size: var(--s40);
	color: #111;
}
.q h2{
	font-size: var(--s300);
	font-family: Arial;
	position: absolute;
	line-height: 0;
	user-select: none;
	color: #111;
	transform: translate(50%, 40px);
	left: 0;
}
.qq h1 span{
	font-size: var(--s150);
	line-height: var(--s150);
}

.prog{
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 100px 0;
	background: #222;
}
.code h1{
	font-size: var(--s70);
	color: #fff;
	font-family: sans-serif;
	line-height: var(--s70);
	font-weight: 1000;
	margin-bottom: 40px;
}
.code p{
	font-size: var(--s18);
	color: #fff;
	font-family: sans-serif;
	line-height: var(--n);
	font-weight: 500;
	width: 70%;
	position: relative;
}
.code p:after{
	content: '';
	display: flex;
	width: 70px;
	height: 70px;
	background: gold;
	z-index: 1;
	border-radius: 50%;
	position: absolute;
	bottom: -50px;
	right: -200px;
}
.code p a{
	color: #fff;
	transition: .1s;
	text-decoration: none;
}
.code p a:hover{
	color: gold;
	transition: .1s;
}
.code p a:hover:after{
	background: gold;
	transition: .1s;
}
.code p a:after{
	content: '';
	display: flex;
	width: 100%;
	transition: .1s;
	height: 3px;
	position: absolute;
	bottom: 0;
	left: 0;
	transform: translateY(7px);
	background: #fff;
}
.code h1 span{
	color: gold;
}
.listl{
	margin-top: 100px;
}
.listl ul{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
}
.listl ul li{
	padding: 20px;
	background: #444;
	border-radius: 10px;
	cursor: pointer;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 1000;
	transition: .1s;
	color: #fff;
	font-size: var(--s18);
	font-family: sans-serif;
}
.listl ul li:hover{
	background: gold;
	transition: .1s;
	color: #111;
}
.sites{
	display: grid;
	grid-column-gap: 20px;
	margin-top: 40px;
	grid-template-columns: 1fr 1fr;
}
.site{
	border-radius: 10px;
	width: 100%;
	overflow: hidden;
}
.site img{
	width: 100%;
	filter: grayscale(1);
	transition: .1s;
	height: 100%;
}
.site img:hover{
	filter: grayscale(0);
	transition: .1s;
}

.footerq{
	background: #111;
	padding: 100px 0;
	display: flex;
	justify-content: center;
}
.bw{
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}
.tops{
	font-family: sans-serif;
	font-weight: 1000;
	position: relative;
	transition: .1s;
	font-size: var(--s18);
	cursor: pointer;
}
.tops:hover{
	color: gold;
	transition: .1s;
}
.tops:hover:after{
	background: gold;
	transition: .1s;
}
.tops:after{
	content: '';
	display: flex;
	position: absolute;
	bottom: 0;
	transition: .1s;
	left: 0;
	transform: translateY(7px);
	width: 100%;
	height: 3px;
	background: #fff;
}
.footerq h1{
	font-size: var(--s100);
	color: gold;
	font-weight: 1000;
	font-family: sans-serif;
	margin-bottom: 100px;
	line-height: var(--s100);
}
.ff ul{
	display: grid;
	grid-row-gap: 40px;
	grid-template-columns: 1fr 1fr;

}
.ff ul li{
	display: flex;
	flex-direction: column;
}
.ff ul li label{
	color: #fff;
	font-size: var(--s18);
	font-weight: 500;
	font-family: sans-serif;
}
.ff ul li p{
	color: #fff;
	font-size: var(--s22);
	font-weight: 1000;
	font-family: sans-serif;
}

.line{
	background: #000;
	color: #fff;
	font-size: var(--s18);
	font-weight: 500;
	font-family: sans-serif;
	padding: 100px 0;
	display: flex;
	justify-content: center;
}
.line b{
	font-weight: 1000;
	color: gold;
}
.tt{
	display: flex;
	flex-direction: column;
}
.tt a{
	color: gold;
	text-decoration: none;
}

.gov{
	display: flex;
	justify-content: center;
	background: #444;
	padding: 100px 0;
}
.gg h1{
	font-size: var(--s36);
	font-family: sans-serif;
	font-weight: 1000;
	color: #fff;
	line-height: var(--s36);
}
.gg h1 span{
	color: gold;
}
.gg p{
	margin-top: 40px;
	color: #fff;
	font-size: var(--s18);
	font-weight: 500;
	font-family: sans-serif;
	line-height: var(--n);
	width: 70%;
}
.gg p span a{
	transition: .1s;
	color: #fff;
	text-decoration: none;
}
.gg p span a:after{
	content: '';
	display: flex;
	transition: .1s;
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 3px;
	background: #fff;
	transform: translateY(7px);
	bottom: 0;
	left: 0;
}
.gg p span a:hover{
	color: gold;
	transition: .1s;
}
.gg p span a:hover:after{
	background: gold;
	transition: .1s;
}
.slidera{
	margin-top: 40px;
	font-family: sans-serif;
	color: #fff;
	font-weight: 500;
	line-height: var(--n);
	display: grid;
	margin-bottom: 100px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
}
.ac{
	background: #222;
	border-radius: 20px;
	padding: 40px;
	position: relative;
}
.ac p{
	width: 100%;
	margin-top: 0 !important;
	font-size: var(--s16);
}
.ac label{
	position: absolute;
	line-height: 0;
	font-size: var(--s50);
	color: gold;
	font-weight: 1000;
	top: 0;
	transform: translate(-10px,0px);
}
.ss{
	border-radius: 40px;
	margin-top: 40px;
}

@media screen and (max-width: 1400px) and (min-width: 1160px) {
	:root{
		/*font size*/
		--s12: 12px;
		--s14: 14px;
		--s16: 16px;
		--s18: 16px;
		--s22: 20px;
		--s24: 24px;
		--s25: 23px;
		--s30: 24px;
		--s36: 36px;
		--s40: 36px;
		--s50: 50px;
		--s70: 60px;
		--s100: 80px;
		--s150: 120px;
		--s300: 300px;
	
		/*line height*/
		--n: 30px; /*normal for p*/
	}

	.logo div:nth-child(2){
		transform: translateY(-11px) translateX(-2px);
		color: gold;
	}
	.name div:nth-child(2){
		transform: translateY(-8px) translateX(-5px);
	}
	.btmain a{
		color: #222 !important;
	}
	.mephoto img{
		height: 320px;
		width: 320px;
	}
	.mephoto{
		left: 120px;
	}
	.mephoto:before{
		height: 70px;
		width: 70px;
		left: -80px;
	}
	.slider:after{
		width: 170px;
		height: 170px;
		top: -40px;
	}
	.slider:before{
		width: 70px;
		height: 70px;
		top: 200px;
		right: 150px;
	}
	.videob:before{
		width: 140px;
		height: 140px;
		bottom: 40px;
		left: -80px;
	}
	.videob:after{
		width: 40px;
		height: 40px;
		bottom: 190px;
		left: 20px;
	}
	.awardlistm:after{
		width: 120px;
		height: 120px;
		bottom: 140px;
		right: 100px;
	}
}

@media screen and (max-width: 1160px) and (min-width: 965px) {
	.container{
		width: auto;
		padding: 0 40px;
	}
	.container2{
		width: 100% !important;
		padding: 0 40px;
	}
	.menu-cont{
		padding: 0 40px;
	}
	.code p:after{
		width: 70px;
		height: 70px;
		bottom: 200px;
		right: -200px;
	}
	.listl ul li{
		padding: 15px;
	}





	:root{
		/*font size*/
		--s12: 12px;
		--s14: 14px;
		--s16: 16px;
		--s18: 16px;
		--s22: 18px;
		--s24: 24px;
		--s25: 23px;
		--s30: 24px;
		--s36: 36px;
		--s40: 30px;
		--s50: 50px;
		--s70: 60px;
		--s100: 80px;
		--s150: 100px;
		--s300: 300px;
	
		/*line height*/
		--n: 30px; /*normal for p*/
	}



	/*PREVIOUS*/
	.logo div:nth-child(2){
		transform: translateY(-11px) translateX(-2px);
		color: gold;
	}
	.name div:nth-child(2){
		transform: translateY(-8px) translateX(-5px);
	}
	.btmain a{
		color: #222 !important;
	}
	.mephoto img{
		height: 320px;
		width: 320px;
	}
	.mephoto{
		left: 120px;
	}
	.mephoto:before{
		height: 70px;
		width: 70px;
		left: -80px;
	}
	.slider:after{
		width: 170px;
		height: 170px;
		top: -40px;
	}
	.slider:before{
		width: 70px;
		height: 70px;
		top: 280px;
		right: 150px;
	}
	.videob:before{
		width: 140px;
		height: 140px;
		bottom: 40px;
		left: -80px;
	}
	.videob:after{
		width: 40px;
		height: 40px;
		bottom: 190px;
		left: 20px;
	}
	.awardlistm:after{
		width: 120px;
		height: 120px;
		bottom: 140px;
		right: 100px;
	}
}

@media screen and (max-width: 965px) and (min-width: 768px) {
	.menuphone{
		display: flex;
	}
	.nav ul{
		display: none;
	}
	.headbot{
		justify-content: center;
	}
	.descr{
		justify-content: center;
	}
	.contd{
		margin-top: 150px;
		width: 500px;
		align-items: center;
		display: flex;
		flex-direction: column;
	}
	.contd label{
		z-index: 9999;
	}
	.contd p{
		text-align: center;
	}
	.name{
		align-items: center;
		z-index: 999;
		text-align: center;
	}
	.mephoto{
		left: 50%;
		top: 0px;
		transform: translateX(-50%);
	}
	.title{
		text-align: center;
	}
	.slider{
		width: 500px;
		grid-template-columns: 1fr;
		grid-column-gap: 0;
		grid-row-gap: 40px;
	}
	.mp h1{
		width: 500px;
		text-align: center;
	}
	.mp p{
		width: 570px;
		text-align: center;
	}
	.mp{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.videob iframe{
		height: 450px;
	}
	.awardlistm ul{
		grid-template-columns: 1fr !important;
		grid-column-gap: 0px;
		grid-row-gap: 40px;
		width: 400px;
  		grid-column-end: auto;
	}
	.awardlistm{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.awardlistm ul li{
		margin-bottom: 0px;
	}
	.awardlistm ul li:nth-last-child(-n+2) {
	  grid-column-start: auto;
	}
	.awardlistm ul li:nth-last-child(-n+1) {
	  grid-column-start: auto;
	}
	.code h1{
		text-align: center;
		width: 500px;
	}
	.code p{
		text-align: center;
		width: 500px;
	}
	.code{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.listl ul{
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
	}
	.sites {
		grid-template-columns: 1fr;
		grid-row-gap: 40px;
	}
	.schoolaw{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.schoolaw h1{
		text-align: center;
		width: 500px;
	}
	.slidera{
		grid-template-columns: 1fr;
		grid-row-gap: 40px;
		width: 500px;
	}
	.endgg{
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.endgg h1{
		text-align: center;
		width: 500px;
	}
	.endgg p{
		text-align: center;
		width: 500px;
	}
	.ff{
		display: flex;
		flex-direction: column !important;
		align-items: center !important;
	}
	.ff h1{
		text-align: center;
		width: 500px;
	}
	.ff ul{
		grid-template-columns: 1fr;
		width: 500px;
	}
	.ff ul li{
		align-items: center;
	}
	.bw{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.tt{
		text-align: center;
		margin-bottom: 20px;
	}
	.qq{
		width: 100% !important;
	}
	.q h2{
		display: none;
	}



	:root{
		/*font size*/
		--s12: 12px;
		--s14: 14px;
		--s16: 16px;
		--s18: 16px;
		--s22: 18px;
		--s24: 24px;
		--s25: 23px;
		--s30: 24px;
		--s36: 30px;
		--s40: 30px;
		--s50: 50px;
		--s70: 45px;
		--s100: 40px;
		--s150: 100px;
		--s300: 300px;
	
		/*line height*/
		--n: 30px; /*normal for p*/
	}



	/*PREVIOUS*/
	.container{
		width: auto;
		padding: 0 40px;
	}
	.container2{
		display: flex;
		justify-content: center;
		width: 100% !important;
		padding: 0 40px;
	}
	.menu-cont{
		padding: 0 40px;
	}
	.code p:after{
		width: 70px;
		height: 70px;
		bottom: 200px;
		right: -200px;
	}
	.listl ul li{
		padding: 15px;
	}


	.logo div:nth-child(2){
		transform: translateY(-7px) translateX(-2px);
		color: gold;
	}
	.name div:nth-child(2){
		transform: translateY(-4px) translateX(-5px);
	}
	.btmain a{
		color: #222 !important;
	}
	.mephoto img{
		height: 270px;
		width: 270px;
	}
	.mephoto:before{
		height: 70px;
		width: 70px;
		left: 0px;
		top: 0px;
		z-index: 99;
	}
	.slider:after{
		width: 120px;
		height: 120px;
		top: -40px;
	}
	.slider:before{
		width: 70px;
		height: 70px;
		top: 280px;
		right: 150px;
	}
	.videob:before{
		width: 80px;
		height: 80px;
		bottom: 40px;
		left: -20px;
	}
	.videob:after{
		width: 30px;
		height: 30px;
		bottom: 140px;
		left: 40px;
	}
	.awardlistm:after{
		width: 120px;
		height: 120px;
		bottom: 140px;
		right: 100px;
	}
}




@media screen and (max-width: 768px) and (min-width: 600px) {
	.menuphone{
		display: flex;
	}
	.nav ul{
		display: none;
	}
	.headbot{
		justify-content: center;
	}
	.descr{
		justify-content: center;
	}
	.contd{
		margin-top: 150px;
		width: 500px;
		align-items: center;
		display: flex;
		flex-direction: column;
	}
	.contd label{
		z-index: 9999;
	}
	.contd p{
		text-align: center;
	}
	.name{
		align-items: center;
		z-index: 999;
		text-align: center;
	}
	.mephoto{
		left: 50%;
		top: 0px;
		transform: translateX(-50%);
	}
	.title{
		text-align: center;
	}
	.slider{
		width: 500px;
		grid-template-columns: 1fr;
		grid-column-gap: 0;
		grid-row-gap: 40px;
	}
	.mp h1{
		width: 500px;
		text-align: center;
	}
	.mp p{
		width: 570px;
		text-align: center;
	}
	.mp{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.videob iframe{
		height: 450px;
	}
	.awardlistm ul{
		grid-template-columns: 1fr !important;
		grid-column-gap: 0px;
		grid-row-gap: 40px;
		width: 400px;
  		grid-column-end: auto;
	}
	.awardlistm{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.awardlistm ul li{
		margin-bottom: 0px;
	}
	.awardlistm ul li:nth-last-child(-n+2) {
	  grid-column-start: auto;
	}
	.awardlistm ul li:nth-last-child(-n+1) {
	  grid-column-start: auto;
	}
	.code h1{
		text-align: center;
		width: 500px;
	}
	.code p{
		text-align: center;
		width: 500px;
	}
	.code{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.listl ul{
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
	}
	.sites {
		grid-template-columns: 1fr;
		grid-row-gap: 40px;
	}
	.schoolaw{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.schoolaw h1{
		text-align: center;
		width: 500px;
	}
	.slidera{
		grid-template-columns: 1fr;
		grid-row-gap: 40px;
		width: 500px;
	}
	.endgg{
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.endgg h1{
		text-align: center;
		width: 500px;
	}
	.endgg p{
		text-align: center;
		width: 500px;
	}
	.ff{
		display: flex;
		flex-direction: column !important;
		align-items: center !important;
	}
	.ff h1{
		text-align: center;
		width: 500px;
	}
	.ff ul{
		grid-template-columns: 1fr;
		width: 500px;
	}
	.ff ul li{
		align-items: center;
	}
	.bw{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.tt{
		text-align: center;
		margin-bottom: 20px;
	}
	.qq{
		width: 100% !important;
	}
	.q h2{
		display: none;
	}



	:root{
		/*font size*/
		--s12: 12px;
		--s14: 14px;
		--s16: 16px;
		--s18: 16px;
		--s22: 18px;
		--s24: 24px;
		--s25: 23px;
		--s30: 24px;
		--s36: 30px;
		--s40: 24px;
		--s50: 50px;
		--s70: 45px;
		--s100: 40px;
		--s150: 80px;
		--s300: 300px;
	
		/*line height*/
		--n: 30px; /*normal for p*/
	}



	/*PREVIOUS*/
	.container{
		width: auto;
		padding: 0 40px;
	}
	.container2{
		display: flex;
		justify-content: center;
		width: 100% !important;
		padding: 0 40px;
	}
	.menu-cont{
		padding: 0 40px;
	}
	.code p:after{
		width: 70px;
		height: 70px;
		bottom: 200px;
		right: -200px;
	}
	.listl ul li{
		padding: 15px;
	}


	.logo div:nth-child(2){
		transform: translateY(-7px) translateX(-2px);
		color: gold;
	}
	.name div:nth-child(2){
		transform: translateY(-4px) translateX(-5px);
	}
	.btmain a{
		color: #222 !important;
	}
	.mephoto img{
		height: 270px;
		width: 270px;
	}
	.mephoto:before{
		height: 70px;
		width: 70px;
		left: 0px;
		top: 0px;
		z-index: 99;
	}
	.slider:after{
		width: 120px;
		height: 120px;
		top: -40px;
	}
	.slider:before{
		width: 70px;
		height: 70px;
		top: 280px;
		right: 150px;
	}
	.videob:before{
		width: 80px;
		height: 80px;
		bottom: 40px;
		left: -20px;
	}
	.videob:after{
		width: 30px;
		height: 30px;
		bottom: 140px;
		left: 40px;
	}
	.awardlistm:after{
		width: 120px;
		height: 120px;
		bottom: 140px;
		right: 100px;
	}
}





@media screen and (max-width: 600px) and (min-width: 570px) {
	



	:root{
		--s12: 12px;
		--s14: 14px;
		--s16: 16px;
		--s18: 16px;
		--s22: 18px;
		--s24: 24px;
		--s25: 23px;
		--s30: 24px;
		--s36: 30px;
		--s40: 30px;
		--s50: 50px;
		--s70: 45px;
		--s100: 40px;
		--s150: 100px;
		--s300: 300px;
	
		--n: 30px; 
	}


	.menuphone{
		display: flex;
	}
	.nav ul{
		display: none;
	}
	.headbot{
		justify-content: center;
	}
	.descr{
		justify-content: center;
	}
	.contd{
		margin-top: 150px;
		width: 380px;
		align-items: center;
		display: flex;
		flex-direction: column;
	}
	.contd label{
		z-index: 9999;
	}
	.contd p{
		text-align: center;
	}
	.name{
		align-items: center;
		z-index: 999;
		text-align: center;
	}
	.mephoto{
		left: 50%;
		top: 0px;
		transform: translateX(-50%);
	}
	.title{
		text-align: center;
	}
	.slider{
		width: 380px;
		grid-template-columns: 1fr;
		grid-column-gap: 0;
		grid-row-gap: 40px;
	}
	.mp h1{
		width: 400px;
		text-align: center;
	}
	.mp p{
		width: 400px !important;
		text-align: center;
	}
	.btms{
		flex-direction: column;
		width: 100%;
	}
	.btmain{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		padding-top: 15px !important;
		padding-bottom: 15px !important;
	}
	.btmain:nth-child(1){
		margin: 0;
		margin-bottom: 20px;
	}
	.mp{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.videob iframe{
		height: 250px;
	}
	.awardlistm ul{
		grid-template-columns: 1fr !important;
		grid-column-gap: 0px;
		grid-row-gap: 40px;
		width: 400px;
  		grid-column-end: auto;
	}
	.awardlistm{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.awardlistm ul li{
		margin-bottom: 0px;
	}
	.awardlistm ul li:nth-last-child(-n+2) {
	  grid-column-start: auto;
	}
	.awardlistm ul li:nth-last-child(-n+1) {
	  grid-column-start: auto;
	}
	.code h1{
		text-align: center;
		width: 380px;
	}
	.code p{
		text-align: center;
		width: 380px;
	}
	.code{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.listl ul{
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
	}
	.sites {
		grid-template-columns: 1fr;
		grid-row-gap: 40px;
	}
	.schoolaw{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.schoolaw h1{
		text-align: center;
		width: 350px;
	}
	.slidera{
		grid-template-columns: 1fr;
		grid-row-gap: 40px;
		width: 380px;
	}
	.endgg{
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.endgg h1{
		text-align: center;
		width: 380px;
	}
	.endgg p{
		text-align: center;
		width: 380px;
	}
	.ff{
		display: flex;
		flex-direction: column !important;
		align-items: center !important;
	}
	.ff h1{
		text-align: center;
		width: 400px;
	}
	.ff ul{
		grid-template-columns: 1fr;
		width: 380px;
	}
	.ff ul li{
		align-items: center;
	}
	.bw{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.tt{
		text-align: center;
		margin-bottom: 20px;
	}
	.qq{
		width: 100% !important;
	}
	.q h2{
		display: none;
	}
	.container{
		width: auto;
		padding: 0 40px;
	}
	.container2{
		display: flex;
		justify-content: center;
		width: 100% !important;
		padding: 0 !important;
	}
	.menu-cont{
		padding: 0 40px;
	}
	.code p:after{
		width: 70px;
		height: 70px;
		bottom: 200px;
		right: -200px;
	}
	.listl ul li{
		padding: 15px;
	}


	.logo div:nth-child(2){
		transform: translateY(-7px) translateX(-2px);
		color: gold;
	}
	.name div:nth-child(2){
		transform: translateY(-4px) translateX(-5px);
	}
	.btmain a{
		color: #222 !important;
	}
	.mephoto img{
		height: 270px;
		width: 270px;
	}
	.mephoto:before{
		height: 70px;
		width: 70px;
		left: 0px;
		top: 0px;
		z-index: 99;
	}
	.slider:after{
		width: 120px;
		height: 120px;
		top: -40px;
	}
	.slider:before{
		width: 70px;
		height: 70px;
		top: 280px;
		right: 150px;
	}
	.videob:before{
		width: 80px;
		height: 80px;
		bottom: 40px;
		left: -20px;
	}
	.videob:after{
		width: 30px;
		height: 30px;
		bottom: 140px;
		left: 40px;
	}
	.awardlistm:after{
		width: 120px;
		height: 120px;
		bottom: 140px;
		right: 100px;
	}
}


@media screen and (max-width: 570px) {
	



	:root{
		--s12: 12px;
		--s14: 14px;
		--s16: 16px;
		--s18: 16px;
		--s22: 18px;
		--s24: 24px;
		--s25: 23px;
		--s30: 24px;
		--s36: 30px;
		--s40: 30px;
		--s50: 50px;
		--s70: 35px;
		--s100: 40px;
		--s150: 40px;
		--s300: 50px;
	
		--n: 30px; 
	}


	.menuphone{
		display: flex;
	}
	.nav ul{
		display: none;
	}
	.headbot{
		justify-content: center;
	}
	.descr{
		justify-content: center;
	}
	.contd{
		margin-top: 150px;
		width: 100%;
		align-items: center;
		display: flex;
		flex-direction: column;
	}
	.contd label{
		z-index: 9999;
	}
	.contd p{
		text-align: center;
	}
	.name{
		align-items: center;
		z-index: 999;
		text-align: center;
	}
	.name div{
		font-weight: 1000 !important;
	}
	.mephoto{
		left: 50%;
		top: 0px;
		transform: translateX(-50%);
	}
	.title{
		text-align: center;
	}
	.slider{
		width: 100%;
		grid-template-columns: 1fr;
		grid-column-gap: 0;
		grid-row-gap: 40px;
	}
	.mp h1{
		width: auto !important;
		text-align: center;
	}
	.mp p{
		width: auto !important;
		text-align: center;
	}
	.btms{
		flex-direction: column;
		width: 100%;
	}
	.btmain{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		padding-top: 15px !important;
		padding-bottom: 15px !important;
	}
	.btmain:nth-child(1){
		margin: 0;
		margin-bottom: 20px;
	}
	.mp{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.videob iframe{
		width: 100%;
		height: 200px;
		margin-top: 60px;
	}
	.awardlistm ul{
		grid-template-columns: 1fr !important;
		grid-column-gap: 0px;
		grid-row-gap: 40px;
		width: 100%;
  		grid-column-end: auto;
	}
	.awardlistm{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 60px;
	}
	.q{
		margin-top: 60px;
	}
	.awardlistm ul li{
		margin-bottom: 0px;
	}
	.awardlistm ul li:nth-last-child(-n+2) {
	  grid-column-start: auto;
	}
	.awardlistm ul li:nth-last-child(-n+1) {
	  grid-column-start: auto;
	}
	.code h1{
		text-align: center;
		width: 100%;
	}
	.code p{
		text-align: center;
		width: 100%;
	}
	.code{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.listl ul{
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
	}
	.sites {
		grid-template-columns: 1fr;
		grid-row-gap: 40px;
	}
	.schoolaw{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.schoolaw h1{
		text-align: center;
		width: 100%;
	}
	.slidera{
		grid-template-columns: 1fr;
		grid-row-gap: 40px;
		margin-bottom: 60px;
		width: 100%;
	}
	.endgg{
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.endgg h1{
		text-align: center;
		width: 100%;
	}
	.endgg p{
		text-align: center;
		width: 100%;
	}
	.ff{
		display: flex;
		flex-direction: column !important;
		align-items: center !important;
	}
	.ff h1{
		text-align: center;
		width: 100%;
	}
	.ff ul{
		grid-template-columns: 1fr;
		width: 100%;
	}
	.ff ul li{
		align-items: center;
	}
	.bw{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.tt{
		text-align: center;
		margin-bottom: 20px;
	}
	.qq{
		width: 100% !important;
	}
	.q h2{
		display: none;
	}
	.container{
		width: auto;
		padding: 0 40px;
	}
	.container2{
		display: flex;
		justify-content: center;
		width: 100vw !important;
		padding: 0 40px;
	}
	.menu-cont{
		padding: 0 40px;
	}
	.code p:after{
		width: 0px;
		height: 0px;
		bottom: 200px;
		right: 0px;
	}
	.listl ul li{
		padding: 15px;
	}
	.listl{
		margin-top: 60px;
	}


	.logo div:nth-child(2){
		transform: translateY(-10px) translateX(-2px);
		color: gold;
	}
	.name div:nth-child(2){
		transform: translateY(-4px) translateX(-5px);
	}
	.btmain a{
		color: #222 !important;
	}
	.mephoto img{
		height: 270px;
		width: 270px;
	}
	.mephoto:before{
		height: 0px;
		width: 0px;
		left: 0px;
		top: 0px;
		z-index: 99;
	}
	.slider:after{
		width: 0px;
		height: 0px;
		top: -40px;
	}
	.slider:before{
		width: 0px;
		height: 0px;
		top: 280px;
		right: 150px;
	}
	.videob:before{
		width: 0px;
		height: 0px;
		bottom: 40px;
		left: 0px;
	}
	.videob:after{
		width: 0px;
		height: 0px;
		bottom: 140px;
		left: 40px;
	}
	.awardlistm:after{
		width: 120px;
		height: 120px;
		bottom: 140px;
		right: 100px;
	}

	.blocks{
		background: #444;
		border-radius: 20px;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 30px 40px 20px 40px;
	}
	.blocks p{
		text-align: center;
	}
	.blocks label{
		font-size: 45px;
		transform: translateY(0px) translateX(-50%);
		left: 50%;
	}

	.header{
		padding-bottom: 60px;
	}
	.body{
		padding: 60px 0;
	}
	.prog{
		padding: 60px 0;
	}
	.gov{
		padding: 60px 0;
	}
	.footerq{
		padding: 60px 0;
	}
	.line{
		padding: 60px 0;
	}
	.footerq h1{
		margin-bottom: 60px;
	}
	.videob iframe:nth-child(2){
		display: flex;
	}
	.videob iframe:nth-child(3){
		display: flex;
	}
	.qq h1{
		font-size: 18px !important;
		color: #111;
		font-family: sans-serif;
		font-weight: 500 !important;
	}
	.qq h1 span{
		font-size: 30px !important;
		font-weight: 1000 !important;
	}
	.qq p{
		font-size: 18px !important;
	}
}
